* {
	margin:0;
	padding:0;
}

.clearfix:after {
	clear:both;
	content:'';
	display: block;
}

li {
	list-style-type:none;
}

a {
	text-decoration:none;
}

body {
	background:url(../img/background.jpg);
	background-attachment: fixed;
	font-family:Tahoma, sans-serif;
	height:1010px;
}

.wrapper{
	background-color:white;
	width:1000px;
	margin:0 auto;
	box-shadow: 0 0 7px black;
	height:985px;
}

.logo img {
	margin: 11px 0 -1px 28px;	
}

.contact {
	float:right;
	margin-right: 33px;
}

.flag {
	float: right;
	clear: both;
	margin: 35px 34px 9px 0;
}

.flag li {
	display:inline-block;
}

.flag a {
	
	font-size:10px;
	display:block;
	text-decoration:underline;
	color:#128aa7;
}

.contact p {
	color: #128aa7;
	font-size: 13px;
}

.slide {
	height: 235px;
	border-top: 1px solid #0e82a7;
	border-bottom: 1px solid #0e82a7;
	background: url('../img/slide.jpg');
}

.menu {
	background: url('../img/nav.gif') repeat-x 0 0;
	box-shadow: 0 0 7px #000;
	font-size: 14px;
	height: 28px;
	border-bottom: 1px solid black;
}

.menu li {
	display: inline-block;
	position: relative;
	padding-left: 50px;
}

.menu a {
	color: #fff;
	line-height: 28px;  
    
}

.menu ul {
	position: absolute;
	display: none;
}

.menu li:hover ul {
	display: block;
	width: 150px;
	position: absolute;
	border-top: 1px solid black;
	box-shadow: 0 0 5px black;
	
}

.submenu li {
	padding-left: 10px;
	background-color: #303030;
	width: 160px;
	margin-left: -10px;
}

h3 {
	color:#303030;
	font-size: 18px;
	padding:5px;
	text-align: center;
}

p {
	color:#4b4a4a;
	font-size:14px;
	text-align: center;
}

.content {
	display: block;
	height: 55%;
	
}

.left_block {
	width: 20%;
	height: 100%;
	float: left;
	background: #edeef0;	
}

.right_block {
	width: 20%;
	height: 100%;
	float: right;
	background: #edeef0;
}

.footer {
	text-align: center;
	margin-top: 5px;
	color: #edeef0;
	font-size: 12px;
}
